.cartControl
  font-size 0
  .cart-decrease
    display inline-block
    padding 6px
    &.fade-enter-active, &.fade-leave-active {
      transition: all 0.4s linear
    }
    &.fade-enter, &.fade-leave-active {
      opacity: 0
      transform translate3d(24px, 0, 0)
    }
    .inner
      font-size 24px
      line-height 24px
      color rgb(0,160,220)
    &.inner-enter-active, &.inner-leave-active {
      transition: all 0.4s linear
      transform: rotate(0)
    }
    &.inner-enter, &.inner-leave-active {
      opacity: 0
      transform  rotate(180deg)
    }
  .cart-count
    display inline-block
    vertical-align: top
    width 12px
    padding-top 6px
    line-height 24px
    text-align  center
    font-size 10px
    color rgb(147,153,159)
  .cart-add
    display inline-block
    padding 6px
    font-size 24px
    line-height 24px
    color rgb(0,160,220)


